environment:
# websockets only works on Python >= 3.4.
  CIBW_SKIP: cp27-* cp33-*
  CIBW_TEST_COMMAND: python -m unittest websockets
  WEBSOCKETS_TESTS_TIMEOUT_FACTOR: 100

# Since Python 2 is still the default, invoke Python 3 explicitly.
install:
  - cmd: C:\Python36-x64\python.exe -m pip install cibuildwheel==0.4.0
# Create file '.cibuildwheel' so that extension build is not optional (c.f. setup.py).
  - cmd: touch .cibuildwheel
build_script:
  - cmd: C:\Python36-x64\python.exe -m cibuildwheel --output-dir wheelhouse
# Upload to PyPI on tags
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq "true") {
        Invoke-Expression "python -m pip install twine"
        Invoke-Expression "python -m twine upload --skip-existing wheelhouse/*.whl"
      }
